body{
    margin: 0;
}

.header{
    border-bottom: 1px solid #3FAFEC;
}

.container{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;
}

.navbar{
 width: 300px;
 display: flex;
 list-style:none;
 justify-content: space-between;
 align-items: center;
 font-size: 18px;
}